nav ul{
    display: flex;
   
}
ul li{
  list-style: none;  
  padding:0 5px;
  text-transform: capitalize;
}
nav li a{
    text-decoration: none;
    color: black;
}
nav li:hover{
    background-color: crimson;
    margin-right: 10px;
  
}